
.navbar {
  background-color: #00a2ff !important;
  border-bottom: 3px solid #A8C3B9;
}

.bg {
  background: url('bg-image.jpg');
  background-position: center;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.bg2 {
  background: url('bg-image.jpg');
  background-position: center;
  background-size: cover;
  height: 1000px;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 0px;
}

.text-hero {
  color: #f3f3f3;
  padding-top: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.name {
  padding: 10px;
}

.r-align {
  text-align: right !important;
}


footer {
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #2b4250;
  color: #fff;
  border-top: 3px solid #A8C3B9;
}

.abm-hd {
}

.abm-box {
  background-color: #f3f3f3;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10%;
}

.photo {
  float: left;
  padding: 15px;
  margin: 10px;
}

.fltrt {
  margin: auto;
  overflow: hidden;
  margin-right: 20px;
}

.pd {
  padding: 5px;
  border-top: 3px solid #e2e2e2;
}

.pd-body {
  padding: 10px;
}

@media screen and (max-width: 744px) {

  .name {
    margin: auto;
  }
}