

.name {
  background-color: #59aaa5; 
  padding: 10px;
  color: white !important;
}

.r-align {
  text-align: right !important;
}

body {
  background-color: #cccccc;
}

.divide {
  border-right: 1px solid #e2e2e2;
}

.abm-hd {
  border-bottom: 3px solid #e2e2e2;
}

.abm-box {
  background-color: #f3f3f3;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 5%;
  width: 60%;
}

.photo {
  float: left;
  padding: 15px;
}

.fltrt {
  float: right;
}

.pd {
  padding: 5px;
  border-top: 3px solid #e2e2e2;
}