body, html {
  height: 100%;
}

.resume {
  margin-top: 15px;
}

.navbar {
  background-color: #00a2ff !important;
  border-bottom: 3px solid #A8C3B9;

}

.bg {
  background: url('bg-image.jpg') no-repeat center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}



.text-hero {
  color: #00a2ff;
  filter: drop-shadow(15px 10px 4px #2b4250);
  padding-top: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Bree Serif', 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.name {
  padding: 10px;
}

.r-align {
  text-align: right !important;
}


footer {
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #2b4250;
  color: #fff;
  border-top: 3px solid #A8C3B9;
}


.abm-box {
  background-color: #f3f3f3;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10%;
}

.photo {
  float: left;
  padding: 15px;
  margin: 10px;
}

.fltrt {
  margin: auto;
  overflow: hidden;
  margin-right: 20px;
}

.pd {
  padding: 5px;
  border-top: 3px solid #e2e2e2;
}

.pd-body {
  padding: 10px;
}

.contactcard {
  width: auto;
  margin: auto;
  margin-top: 5%;
  background-color: #fefefe;
  border: 3px solid #A8C3B9;
  border-radius: 5px;
}

.bree {
  font-family: 'Bree Serif', 'Times New Roman', Times, serif;
  font-weight: bolder;
}

@media screen and (max-width: 744px) {

  .name {
    margin: auto;
  }
}